*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
}

section {
  padding: 7em 0;
}
.container {
  width: 85%;
  margin: 0 auto;
  max-width: 65em;
}
.split {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
}

.split > * {
  flex-basis: 30%;
  min-width: 15em;
}
.spacing > * + * {
  margin-top: var(--spacer, 2rem);
}

.btn {
  display: inline-block;
  text-decoration: none;
  background-color: var(--clr-accent, aquamarine);
  color: var(--clr-text, #fff);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  padding: 0.5em 1.25em;
  border-radius: 0.25em;
  transition: transform 240ms ease-in-out, opacity 250ms linear;
}

.btn:hover,
.btn:focus {
  transform: scale(1.1);
  opacity: 0.8;
}

.primary-title {
  font-size: 4rem;
  font-size: clamp(3rem, calc(5vw+1rem), 4.5rem);
  line-height: 1;
  text-transform: uppercase;
}

.section-title {
  text-align: center;
  font-size: clamp(2.5rem, calc(5vw+1rem), 4rem);
  line-height: 1;
  color: #17353d;
  margin-bottom: 5rem;
}
.hero {
  text-align: center;
  color: white;
  background-color: #222;
  padding: 15em 0;
  @supports (property: value) {
    .hero {
      background-image: url("./main_shoe.jpg"), radial-gradient(#444, #111);
      background-blend-mode: multiply;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}
.featured {
  background: #eee;
}
.featured .featured_items {
  display: block;
  position: relative;
  transform: scale(0.85);
  transition: transform 250ms ease-in-out;
  text-decoration: none;
  color: #333;
  text-align: center;
  line-height: 1.2;
}
span {
  display: block;
  font-weight: 700;

  font-size: 2.5rem;
}

.featured_items:hover,
.featured_items:focus {
  transform: scale(1);
}
.featured_items:hover .featured_details,
.featured_items:focus .featured_details {
  opacity: 1;
  text-shadow: 0 0 2em rgba(#fff, 1);
}
.featured_items::after {
  content: " ";
  position: absolute;
  top: 10%;
  left: 10%;
  padding: 75% 75% 0 0;
  border-radius: 50%;
  background: #2193b0;
  z-index: -1;
}

.featured_details {
  opacity: 0;
  /* margin-bottom: -25rem; */
  transition: opacity 250ms linear;
}

.product {
  background: radial-gradient(
    var(--clr-inner, limegreen),
    var(--clr-outer, purple)
  );
  padding: 3em;
  border-radius: 3em;
  margin-bottom: 3em;
}

.product_title {
  font-size: clamp(3rem, calc(5vw+1rem), 5.5rem);
  text-transform: uppercase;
  color: #fff;
  line-height: 1;
  text-shadow: 0 0 0.2em rgba(#000);
}

.product {
  text-align: center;
}

.product_image {
  padding: 2rem;
  margin: -5em 0 0 0;
}
@media (min-width: 45em) {
  .product_image {
    float: right;
    width: 65%;
    shape-outside: url(./shoe_4.jpg);
    /* outline: 2px solid red; */
    shape-margin: 1em;
    margin: 0 -5em 0 0;
  }
  .product_title {
    margin: 0;
  }
  .product_title,
  .product_description {
    text-align: left;
  }
  .product {
    margin-bottom: 9em;
  }
}
.shoe-4 {
  --clr-inner: #faa700;
  --clr-outer: #e48d00;
  --clr-accent: #a1173c;
}

.shoe-5 {
  --clr-inner: #fce4b3;
  --clr-outer: #eac886;
  --clr-accent: #2f4858;
}

.shoe-6 {
  --clr-inner: #6dd5ed;
  --clr-outer: #2193b0;
  --clr-accent: #008951;
}

.hero {
  --clr-accent: #faa700;
}
